// Navigation code here

.menu {
    text-align: center;
    margin-bottom: 1%;
    h1 {
        font-size: 4rem;
        margin: 1% auto;
    }

    nav {
        margin: 0 auto;
        .flexmix(space-between, center);
        width: 20%;
    }

    a {
        font-size: 1.8rem;
        color: black;
    }
}